<header class="topbar">
  <h1>
    <img src="{{rootURL}}assets/brand/icon-gradient-blue.svg" alt="">
    <span class="primary"><a href={{frontpageUrl}}>5apps</a></span>
    <span class="secondary">Storage</span>
  </h1>
  <nav>
    <ul>
      {{#if session.isAuthenticated}}
        {{#if currentUser.user}}
          <li class="account">
            <a href="https://{{baseDomain}}/account/settings">
              {{icons/user}} <span class="username">{{currentUser.user.username}}</span><span class="hostname">@{{currentUser.user.storageHost}}</span>
            </a>
          </li>
        {{/if}}
        <li class="logout">
          <a href="#" rel="nofollow" {{action "logout"}}>
            {{icons/sign-out}} log out
          </a>
        </li>
      {{else}}
        <li class="login">
          {{#link-to "login"}}
            {{icons/sign-in}} log in
          {{/link-to}}
        </li>
        <li class="signup">
          <a href="https://{{baseDomain}}/users/sign_up?site=storage">sign up</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
