<div class="auth" {{on "click" (fn this.toggleOpenClass)}}>
  <div class="icon">
    {{#if @auth.iconUrl}}
      <img src={{@auth.iconUrl}} alt="Icon" />
    {{else}}
      <Icons::BrandIconFlat />
    {{/if}}
  </div>
  <div class="app-name">
    <h4>
      {{@auth.appName}}
    </h4>
    <p>
      <a href={{@auth.launchUrl}} class="app_url" target="_blank" rel="noopener noreferrer">
        {{@auth.clientId}}
      </a>
    </p>
  </div>
  <div class="metadata">
    <p>
      <StoragePermissions @permissions={{@auth.permissions}} />
    </p>
    <p class="created-at">
      Approved
      <time datetime={{@auth.createdAtDatetime}} title={{@auth.createdAtDateTitle}}>{{moment-from-now @auth.createdAt}}</time>{{#if @auth.expireAt}}, expires <time datetime={{@auth.expireAtDatetime}} title={{@auth.expireAtDateTitle}}>{{moment-from-now @auth.expireAt}}</time>{{/if}}
    </p>
  </div>
  <div class="actions">
    <button type="button" {{on "click" (fn this.revoke)}} class="danger button">
      Revoke access
    </button>
  </div>
</div>
