<div class="icon">
  <Icons::BrandIconFlat />
</div>
<div class="app-name">
  <h4>
    {{this.auth.appName}}
  </h4>
  <p>
    <a href={{this.auth.launchUrl}} class="app_url" target="_blank" rel="noopener noreferrer">
      {{this.auth.clientId}}
    </a>
  </p>
</div>
<div class="metadata">
  <p>
    {{storage-permissions permissions=this.auth.permissions}}
  </p>
  <p class="created-at">
    Approved
    <time datetime={{this.auth.createdAtDatetime}} title={{this.auth.createdAtDateTitle}}>{{moment-from-now this.auth.createdAt}}</time>{{#if this.auth.expireAt}}, expires <time datetime={{this.auth.expireAtDatetime}} title={{this.auth.expireAtDateTitle}}>{{moment-from-now this.auth.expireAt}}</time>{{/if}}
  </p>
</div>
<div class="actions">
  <a href="" {{action "revoke" this.auth}} class="danger button">Revoke access</a>
</div>
