<header class="topbar">
  <h1>
    <img src="{{this.rootURL}}assets/brand/icon-gradient-blue.svg" alt="" role="presentation">
    <span class="primary"><a href={{this.frontpageUrl}}>5apps</a></span>
    <span class="secondary">Storage</span>
  </h1>
  <nav>
    <ul>
      {{#if this.session.isAuthenticated}}
        {{#if this.currentUser.user}}
          <li>
            <BasicDropdown @horizontalPosition="right" as |dd|>
              <dd.Trigger>
                <IconLifeBuoy /> <span class="help">Help</span>
              </dd.Trigger>
              <dd.Content class="slide-fade">
                <ul>
                  <li>
                    <a href="https://5apps.tenderapp.com/kb/storage"
                       target="_blank" rel="noopener noreferrer">
                      <IconHelpCircle /> Knowledge Base
                    </a>
                  </li>
                  <li>
                    <a href="https://5apps.tenderapp.com/discussion/new"
                       target="_blank" rel="noopener noreferrer">
                      <IconMail /> Support
                    </a>
                  </li>
                  <li>
                    <a href="https://community.remotestorage.io/categories"
                       target="_blank" rel="noopener noreferrer">
                      <IconMessageCircle /> remoteStorage Community
                    </a>
                  </li>
                  <li>
                    <a href="https://status.5apps.com/"
                       target="_blank" rel="noopener noreferrer">
                      <IconZap /> System Status
                    </a>
                  </li>
                </ul>
              </dd.Content>
            </BasicDropdown>
          </li>
          <li class="account">
            <BasicDropdown @horizontalPosition="right" as |dd|>
              <dd.Trigger>
                <IconUser /> <span class="username">{{this.currentUser.user.username}}</span><span class="hostname">@{{this.currentUser.user.storageHost}}</span>
              </dd.Trigger>
              <dd.Content class="slide-fade">
                <ul>
                  <li>
                    <a href="https://{{this.baseDomain}}/account/settings"
                       target="_blank" rel="noopener noreferrer">
                      <IconSettings /> Account
                    </a>
                  </li>
                  <li>
                    <a href="#" rel="nofollow" {{action "logout"}}>
                      <IconLogOut /> Log out
                    </a>
                  </li>
                </ul>
              </dd.Content>
            </BasicDropdown>
          </li>
        {{/if}}
      {{else}}
        <li class="login">
          <LinkTo @route="login">
            <IconLogIn /> log in
          </LinkTo>
        </li>
        <li class="signup">
          <a href="https://{{this.baseDomain}}/users/sign_up?site=storage">sign up</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
