<div id="topbar">
  <div id="topbar-inner">
    <nav class="sites dropdown">
      <h1>
        {{#link-to "index" class="trigger"}}5apps{{/link-to}}
      </h1>
      <ul>
        <li>
          <a href="https://{{baseDomain}}/deploy/home"><h2>Deploy</h2>
            <p>Deployment and hosting for static apps</p>
          </a>
        </li>
        <li class="current">
          <a href="https://{{baseDomain}}/storage/beta"><h2>Storage</h2>
            <p>Cloud storage for unhosted apps</p>
          </a>
        </li>
        <li>
          <a href="https://{{baseDomain}}/news"><h2>News</h2>
            <p>Social news site for HTML5, JS &amp; friends</p>
          </a>
        </li>
      </ul>
    </nav>
    <section id="account">
      <ul>
        <li class="help">
          <a href="https://5apps.tenderapp.com"><i class="icon-lifebuoy"></i>
            Help
          </a>
        </li>
        {{#if session.isAuthenticated}}
          {{#if currentUser.user}}
            <li class="account">
              <a href="/account/settings" style={{avatarStyle}}>
                {{currentUser.user.username}}
              </a>
            </li>
          {{/if}}
          <li class="logout">
            <a href="#" rel="nofollow" {{action "invalidateSession"}}>Log out</a>
          </li>
        {{else}}
          <li class="login">
            {{#link-to "login"}}Log in{{/link-to}}
          </li>
          <li class="signup">
            <a href="https://{{baseDomain}}/users/sign_up?site=storage">Sign up</a>
          </li>
        {{/if}}
      </ul>
    </section>
  </div>
</div>

<div class="container">

  <section class="storage_header">
    <div class="container">
      <h1>
        Storage
        <span class="beta">Beta</span>
      </h1>
      <div class="plan">
        <div class="limits">
          <a class="small button" href="https://{{baseDomain}}/storage/plans">Change plan</a>
          <div class="limit size">
            {{storage-size-progress percent=currentUser.user.storageSizeInPercent}}
            <p>
              <strong>Usage</strong>
              <span class="numbers">
                <span class="used">{{number-to-human-size currentUser.user.storageSize}}</span>
                <span class="available">
                  of {{number-to-human-size currentUser.user.maximumStorageSize}}
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="main">
    {{outlet}}
  </section>

  <footer>
    <p class="info">
      <a href="https://{{baseDomain}}/multipass?to=https%3A%2F%2F5apps.tenderapp.com">Help</a>
      <span class="divider">·</span>
      <a href="https://{{baseDomain}}/about">About</a>
      <span class="divider">·</span>
      <a href="https://blog.5apps.com">Blog</a>
      <span class="divider">·</span>
      <a href="http://status.5apps.com">Status</a>
      <span class="divider">·</span>
      <a href="mailto:mail@5apps.com">Contact</a>
      <span class="divider">·</span>
      <a href="https://twitter.com/5apps">Twitter</a>
    </p>
    <p class="legal">
      © Appcache Ltd. All rights reserved.
      <span class="divider">·</span>
      <a href="https://{{baseDomain}}/privacy">Privacy Policy</a>
      <span class="divider">·</span>
      <a href="https://{{baseDomain}}/terms">Terms of Service</a>
    </p>
  </footer>
</div>
