<section class="content" id="apps">
  <header>
    <h2>Connected Apps</h2>
  </header>
  <div class="authorizations">
    {{#each model as |auth|}}
      <div class="auth" data-id={{auth.id}}>
        <div class="icon">
          {{partial "brand/icon-flat"}}
        </div>
        <div class="app-name">
          <h4>
            Sharesome
          </h4>
          <p>
            <a href="{{auth.launchUrl}}" class="app_url" target="_blank">{{auth.appName}}</a>
          </p>
        </div>
        <div class="metadata">
          <p>
            {{storage-permissions permissions=auth.permissions}}
          </p>
          <p class="created-at">
            Approved
            <time datetime={{auth.createdAtDatetime}} title={{auth.createdAtDateTitle}}>{{moment-from-now auth.createdAt}}</time>{{#if auth.expireAt}}, expires
              <time datetime={{auth.expireAtDatetime}} title={{auth.expireAtDateTitle}}>
                {{moment-from-now auth.expireAt}}
              </time>
            {{/if}}
          </p>
        </div>
        <div class="actions">
          <a href="" {{action "revokeAccess" auth}} class="danger button">Revoke access</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>
