<h3>Apps</h3>

<p>
  These are all apps that can access your 5apps storage:
</p>

<div class="authorizations">
  {{#each model as |auth|}}
    <div class="auth" data-id={{auth.id}}>
      <div class="icon">
        <img src={{auth.iconUrl}}>
      </div>
      <div class="app">
        <h4>
          <a href="{{auth.launchUrl}}" class="app_url" target="_blank">{{auth.appName}}</a>
        </h4>
        <p class="permissions">
          Access:
          {{storage-permissions permissions=auth.permissions}}
        </p>
        <p class="metadata discreet">
          Approved
          <span data-time={{auth.createdAt}}>
            {{auth.createdAt}}
          </span>
          {{#if auth.expireAt}}
            &middot;
            Expires in
            <span data-time={{auth.expireAt}}>
              {{auth.expireAt}}
            </span>
          {{/if}}
        </p>
      </div>
      <div class="actions">
        <a href="" {{action "revokeAccess" auth}}>Revoke access</a>
      </div>
    </div>
  {{/each}}
</div>

<aside>
  <section>
    <p>
      Your username for connecting apps to your storage is:
    </p>
    <p>
      <span class="username">
        {{currentUser.user.storageAddress}}
      </span>
    </p>
  </section>
  <section>
    <p>
      Storage Size: {{currentUser.user.storageSize}}
    </p>
    <p>
      Storage Size in percent: {{currentUser.user.storageSizeInPercent}}
    </p>
    <p>
      Maximum Storage Size: {{currentUser.user.maximumStorageSize}}
    </p>
    <p>
      Currently, <strong>3 apps</strong> have access to <strong>3 categories</strong>
      on your storage.
    </p>
  </section>
  <section>
    <p>
      Need some help with remoteStorage?
      <a target="_blank" href="https://5apps.dev/multipass?to=https%3A%2F%2F5apps.tenderapp.com">Visit our help site</a>
      or check out the official
      <a target="_blank" href="https://community.remotestorage.io/c/getting-started">community forums</a>.
    </p>
  </section>
</aside>
