<section class="content" id="apps">
  <header>
    <h2>Connected Apps</h2>
  </header>
  <div class="authorizations">
    {{#each model as |auth|}}
      <div class="auth" data-id={{auth.id}}>
        <div class="icon">
          <img src={{auth.iconUrl}}>
        </div>
        <div class="details">
          <h4>
            <a href="{{auth.launchUrl}}" class="app_url" target="_blank">{{auth.appName}}</a>
          </h4>
          <p class="permissions">
            Access:
            {{storage-permissions permissions=auth.permissions}}
          </p>
          <p class="metadata discreet">
            Approved
            <time datetime={{auth.createdAtDatetime}} title={{auth.createdAtDateTitle}}>
              {{moment-from-now auth.createdAt}}
            </time>
            {{#if auth.expireAt}}
              &middot;
              Expires
              <time datetime={{auth.expireAtDatetime}} title={{auth.expireAtDateTitle}}>
                {{moment-from-now auth.expireAt}}
              </time>
            {{/if}}
          </p>
        </div>
        <div class="actions">
          <a href="" {{action "revokeAccess" auth}} class="danger button">Revoke access</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>
