<header class="topbar">
  <h1>
    <img src="{{rootURL}}assets/brand/icon-gradient-blue.svg" alt="">
    <span class="primary">5apps</span>
    <span class="secondary">Storage</span>
  </h1>
  <nav>
    <ul>
      {{#if session.isAuthenticated}}
        {{#if currentUser.user}}
          <li class="account">
            <a href="/account/settings">
              {{partial "icons/user"}} {{currentUser.user.username}}
            </a>
          </li>
        {{/if}}
        <li class="logout">
          <a href="#" rel="nofollow" {{action "logout"}}>
            {{partial "icons/sign-out"}} log out
          </a>
        </li>
      {{else}}
        <li class="login">
          {{#link-to "login"}}
            {{partial "icons/sign-in"}} log in
          {{/link-to}}
        </li>
        <li class="signup">
          <a href="https://{{baseDomain}}/users/sign_up?site=storage">sign up</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
